@import "../../node_modules/bootstrap/scss/bootstrap";
.row {
  --bs-gutter-x: 0;
}
.mycard-img {
  height: 12rem;
}
.mycard-title {
  font-size: 1rem;
}
.myspinner {
  width: 100vw;
  height: 100vh;
}
